<p><em>(By ancient usage this prayer was specially appointed for Good Friday.)</em></p>
<p>Brethren, let us pray for the whole Christian Church, that our Lord God would vouchsafe to defend it against all the
    assaults and temptations of the Adversary and to keep it perpetually upon the true foundation, Jesus Christ.&nbsp;
</p>
<p>Almighty and everlasting God, who hast revealed Thy glory to all nations in Jesus Christ and the Word of His truth,
    keep, we beseech Thee, in safety the works of Thy mercy that so Thy Church, spread throughout all nations, may serve
    Thee in true faith and persevere in the confession of Thy name; through Jesus Christ, our Lord.
    <strong>Amen.</strong></p>
<p>Let us pray for the Ministers of the Word, for all Estates of men in the Church, and for all the people of God.</p>
<p>Almighty and everlasting God, by whose Spirit the whole body of the Church is governed and sanctified, receive the
    supplications and prayers which we offer before Thee for all Estates of men in Thy holy Church, that every member of
    the same, in his vocation and ministry, may truly and godly serve Thee; through Christ, our Lord. Amen. Let us pray
    for our Catechumens, that our Lord God would open their hearts and the door of His mercy, that, having received the
    remission of all their sins by the washing of regeneration, they may be mindful of their baptismal covenant and
    evermore be found in Christ Jesus, our Lord. Almighty and everlasting God, who dost always multiply Thy Church and
    with Thy light and grace dost strengthen the hearts of those whom Thou hast regenerated, confirming unto them Thy
    covenant and faithfulness, grant unto our Catechumens increase both of faith and knowledge that they may rejoice in
    their baptism and really and heartily renew their covenant with Thee. <strong>Amen.</strong></p>
<p>Let us pray for All in Authority, and especially for the Government of [Country], that we may lead a quiet and
    peaceable life in all godliness and honesty.</p>
<p>O merciful Father in heaven, who holdest in Thy hand all the might of man and who hast ordained the powers that be
    for the punishment of evildoers and for the praise of them that do well, and of whom is all rule and authority in
    the kingdoms of the world, we humbly beseech Thee, graciously regard Thy servants, the President of the United
    States, the Governor of this Commonwealth, our judges and magistrates, and all the rulers of the earth, that all who
    receive the sword as Thy ministers may bear it according to Thy commandment; through Christ, our Lord.
    <strong>Amen</strong>.</p>
<p>Let us pray our Lord God Almighty that He would deliver the world from all error, take away disease, ward off famine,
    set free all those who are in chains and bondage, grant a safe return to the wayfarers, health to the sick, and to
    our mariners a harbor of security.&nbsp;</p>
<p>Almighty and everlasting God, the Consolation of the sorrowful and the Strength of the weak, may the prayers of them
    that in any tribulation or distress cry unto Thee graciously come before Thee, so that in all their necessities they
    may mark and receive Thy manifold help and comfort; through Christ, our Lord. <strong>Amen.</strong></p>
<p><em>(Here may be offered prayers for schismatics, Jews, and heathen. See Collects and Prayers 19&mdash;24.)</em></p>
<p>Let us pray for peace, that we may come to the knowledge of God&rsquo;s holy Word and walk before Him as becometh
    Christians.&nbsp;</p>
<p>Almighty and everlasting God, King of Glory, and Lord of heaven and earth, by whose Spirit all things are governed,
    by whose providence all things are ordered, who art the God of peace and the Author of all concord, grant us, we
    beseech Thee, Thy heavenly peace and concord that we may serve Thee in true fear, to the praise and glory of Thy
    name; through Christ, our Lord. <strong>Amen.</strong></p>
<p>Let us pray for our enemies, that God would remember them in mercy and graciously vouchsafe unto them such things as
    are both needful for them and profitable unto their salvation.</p>
<p>O almighty, everlasting God, who through Thine only Son, our blessed Lord, hast commanded us to love our enemies, to
    do good to them that hate us, and to pray for them that persecute us, we earnestly beseech Thee that by Thy gracious
    visitation all our enemies may be led to true repentance and may have the same love and be of one accord and of one
    mind and heart with us and with Thy whole Christian Church; through Christ, our Lord. <strong>Amen.</strong></p>
<p>Let us pray for the fruits of the earth, that God would send down His blessing upon them and graciously dispose our
    hearts to enjoy them in submission to His holy will.</p>
<p>O Lord, Father Almighty, who by Thy Word hast created, and dost bless and uphold, all things, we pray Thee so to
    reveal unto us Thy Word, our Lord Jesus Christ, that, He dwelling in our hearts, we may by Thy grace be made meet to
    receive Thy blessing on all the fruits of the earth and whatsoever pertains to our bodily need; through Christ, our
    Lord. <strong>Amen.</strong></p>
<p>Finally, let us pray for all those things for which our Lord would have us ask, saying:</p>
<p>Our Father who art in heaven; Hallowed be Thy name; Thy kingdom come; Thy will be done on earth as it is in heaven;
    Give us this day our daily bread; And forgive us our trespasses, as we forgive those who trespass against us; And
    lead us not into temptation; But deliver us from evil; For Thine is the kingdom and the power and the glory forever
    and ever. <strong>Amen.</strong></p>