<p>O Lord, <br><strong>Have mercy upon us.</strong></p>
<p>O Christ, <br><strong>Have mercy upon us.</strong></p>
<p>O Lord, <br><strong>Have mercy upon us.</strong></p>
<p>O Christ, <br><strong>Hear Thou us.</strong></p>
<p>O God the Father in heaven, <br><strong>Have mercy upon us.</strong></p>
<p>O God the Son, Redeemer of the world, <br><strong>Have mercy upon us.</strong></p>
<p>O God the Holy Ghost, <br><strong>Have mercy upon us.</strong></p>
<p>Be gracious unto us. <br><strong>Spare us, good Lord.</strong></p>
<p>Be gracious unto us. <br><strong>Help us, good Lord.</strong></p>
<p>From all sin;<br>From all error;<br>From all evil: <br><strong>Good Lord, deliver us.</strong></p>
<p>From the crafts and assaults of the devil;<br>From sudden and evil death;<br>From pestilence and famine;<br>From war
    and bloodshed;<br>From sedition and rebellion;<br>From lightning and tempest;<br>From all calamity by fire and
    water;<br>And from everlasting death; <br><strong>Good Lord, deliver us.</strong></p>
<p>By the mystery of Thy holy Incarnation;<br>By Thy holy Nativity;<br>By Thy baptism, fasting, and temptation;<br>By
    Thine agony and bloody sweat;<br>By Thy cross and Passion;<br>By Thy precious death and burial;<br>by Thy glorious
    resurrection and ascension;<br>And by the coming of the Holy Ghost, the Comforter: <br><strong>Help us, good
        Lord.</strong></p>
<p>In all time of our tribulation;<br>In all time of our prosperity;<br>In the hour of death;<br>And in the day of
    Judgment: <br><strong>Help us, good Lord.</strong></p>
<p>We poor sinners do beseech Thee <br><strong>To hear us, O Lord God,</strong></p>
<p>And to rule and govern Thy holy Christian Church;<br>To preserve all pastors and ministers of Thy Church in the true
    knowledge and understanding of Thy Word and in holiness of life;<br>To put an end to all schism and causes of
    offense;<br>To bring into the way of truth all such as have erred and are deceived;<br>To beat down Satan under our
    feet;<br>To send faithful laborers into Thy harvest;<br>To accompany Thy Word with Thy Spirit and grace;<br>To raise
    up them that fall and to strengthen such as do stand;<br>And to comfort and help the weak-hearted and the
    distressed: <br><strong>We beseech Thee to hear us, good Lord.</strong></p>
<p>To give all nations peace and concord;<br>To preserve our country from discord and contention;<br>To give to our
    nation perpetual victory over all its enemies;<br>To direct and defend our President and all in authority;<br>And to
    bless and keep our magistrates and all our people: <br><strong>We beseech Thee to hear us, good Lord.</strong></p>
<p>To behold and succor all who are in danger, necessity, and tribulation;<br>To protect all who travel by land or
    water;<br>To preserve all women in the perils of childbirth;<br>To strengthen and keep all sick persons and young
    children;<br>To set free all who are innocently imprisoned;<br>To defend and provide for all fatherless children and
    widows;<br>And to have mercy upon all men: <br><strong>We beseech Thee to hear us, good Lord.</strong></p>
<p>To forgive our enemies, persecutors, and slanderers and to turn their hearts;<br>To give and preserve to our use the
    fruits of the earth;<br>And graciously to hear our prayers: <br><strong>We beseech Thee to hear us, good
        Lord.</strong></p>
<p>O Lord Jesus Christ, Son of God, <br><strong>We beseech Thee to hear us, good Lord.</strong></p>
<p>O Lamb of God, that takest away the sin of the world,<br><strong>Have mercy upon us.</strong></p>
<p>O Lamb of God, that takest away the sin of the world, <br><strong>Have mercy upon us.</strong></p>
<p>O Lamb of God, that takest away the sin of the world, <br><strong>Grant us Thy peace.</strong></p>
<p>O Christ, <br><strong>Hear thou us.</strong></p>
<p>O Lord, <br><strong>Have mercy upon us.</strong></p>
<p>O Christ, <br><strong>Have mercy upon us.</strong></p>
<p><strong>Lord, have mercy upon us. Amen.</strong></p>