<!-- templates/prayers/morning_suffrages.html -->
<h3 class="{{ section_title_class }}">Morning Suffrages</h3>
<div class="{{ section_body_class }}">
    <p>O Lord,<br><strong>Have mercy upon us.</strong></p>
    <p>O Christ, <br><strong>Have mercy upon us</strong>.</p>
    <p>O Lord, <br><strong>Have mercy upon us</strong>.</p>
    
    <p><em>Then shall all say:</em></p>
    
    <p>Our Father who art in heaven; Hallowed be Thy name; Thy kingdom come; Thy will be done on earth as it is in heaven; Give us this day our daily bread; And forgive us our trespasses, as we forgive those who trespass against us; And lead us not into temptation; But deliver us from evil. Amen.</p>
    
    <p>I believe in God the Father Almighty, Maker of heaven and earth; And in Jesus Christ, His only Son, our Lord; Who was conceived by the Holy Ghost, Born of the Virgin Mary; Suffered under Pontius Pilate, Was crucified, dead, and buried; He descended into hell; The third day He rose again from the dead; He ascended into heaven, And sitteth on the right hand of God the Father Almighty; From thence He shall come to judge the quick and the dead.</p>
    
    <p>I believe in the Holy Ghost; The holy Christian Church, the communion of saints; The forgiveness of sins; The resurrection of the body; And the life everlasting. Amen.</p>
    
    <p>Unto Thee have I cried, O Lord: <br><strong>And in the morning shall my prayer come before Thee.</strong></p>
    <p>Let my mouth be filled with Thy praise: <br><strong>And with Thine honor all the day.</strong></p>
    <p>O Lord, hide Thy face from my sins:<br><strong>And blot out all mine iniquities.</strong></p>
    <p>Create in me a clean heart, O God:<br><strong>And renew a right spirit within me.</strong></p>
    <p>Cast me not away from Thy presence:<br><strong>And take not Thy Holy Spirit from me.</strong></p>
    <p>Restore unto me the joy of Thy salvation:<br><strong>And uphold me with Thy free Spirit.</strong></p>
    <p>Vouchsafe, O Lord, this day:<br><strong>To keep us without sin.</strong></p>
    <p>Have mercy upon us, O Lord:<br><strong>Have mercy upon us.</strong></p>
    <p>O Lord, let Thy mercy be upon us:<br><strong>As our trust is in Thee.</strong></p>
    <p>Hear my prayer, O Lord:<br><strong>And let my cry come unto Thee.</strong></p>
    <p>The Lord be with you:<br><strong>And with thy spirit.</strong></p>
    
    <p>Let us pray.</p>
    
    <p><em>(Then shall be said the prayer here following or No. 46 or No.60 of the Collects and Prayers or any other suitable prayer.)</em></p>

    {{ if collect_of_day }}
    <h4>Collect for the Day</h4>
    <p>{{ collect_of_day }}</p>
    <p>℟: <strong>Amen.</strong></p>
    {{ endif }}

    {{ foreach additional_collects as collect }}
    <p>{{ collect }}</p>
    <p>℟: <strong>Amen.</strong></p>
    {{ endforeach }}

    <p>We give thanks unto Thee, heavenly Father, through Jesus Christ, Thy dear Son, that Thou hast kept us this night from all harm and danger; and we pray Thee that Thou wouldst keep us this day also from sin and every evil, that all our doings and life may please Thee. For into Thy hands we commend ourselves, our bodies and souls, and all things. Let Thy holy angel be with us that the wicked Foe may have no power over us. Amen.</p>
    
    <p><em>Then may be said or chanted the Benedicamus</em></p>
    
    <p>Bless we the Lord. <br><strong>Thanks be to God.</strong></p>
</div>