<h3 class="{{ section_title_class }}">Suffrages</h3>
<div class="{{ section_body_class }}">
    <p>O Lord, <br><strong>have mercy upon us.</strong></p>
    <p>O Christ, <br><strong>have mercy upon us.</strong></p>
    <p>O Lord, <br><strong>have mercy upon us.</strong></p>
    <p>Our Father, who art in heaven; Hallowed be Thy Name; Thy kingdom come; Thy will be done on earth, as it is in heaven; Give us this day our daily bread; And forgive us our trespasses, as we forgive those who trespass against us; And lead us not into temptation. <br><strong>But deliver us from evil.</strong></p>
    
    <p>I said; O Lord, be merciful unto me;<br><strong>Heal my soul; for I have sinned against Thee.</strong><br>
    Return, O Lord, how long?<br><strong>And let it repent Thee concerning Thy servants.</strong><br>
    Let Thy mercy, O Lord, be upon us;<br><strong>According as we hope in Thee.</strong><br>
    Let Thy priests be clothed with righteousness;<br><strong>And let Thy saints shout for joy.</strong><br>
    O Lord, save our rulers;<br><strong>Let the King hear us when we call.</strong><br>
    Save Thy people, and bless Thine inheritance;<br><strong>Feed them also, and lift them up for ever.</strong><br>
    Remember Thy congregation;<br><strong>Which Thou hast purchased of old.</strong><br>
    Peace be within thy walls;<br><strong>And prosperity within thy palaces.</strong><br>
    Let us pray for our absent brethren;<br><strong>O Thou, our God, save Thy servants that trust in Thee.</strong><br>
    Let us pray for the broken-hearted and the captives;<br><strong>Redeem Israel, O God, out of all his troubles.</strong><br>
    Send them help from the Sanctuary.<br><strong>And strengthen them out of Zion.</strong><br>
    Hear my prayer, O LORD;<br><strong>And let my cry come unto Thee.</strong></p>

    <p><em>Then may be said responsively, by the Minister and Congregation, the Psalm De Profundis (130) at Early Morning Service, and at Evening Service, Psalm Miserere Mei (51).</em></p>

    {{ if order == "matins" }}
    <p>Out of the depths have I cried:<br><strong>Unto Thee O Lord.</strong></p>
    <p>Lord, hear my voice:<br><strong>Let thine ears be attentive to the voice of my supplications.</strong></p>
    <p>If Thou, Lord, shouldest mark iniquities:<br><strong>Lord, who shall stand?</strong></p>
    <p>But there is forgiveness with Thee:<br><strong>That Thou mayest be feared.</strong></p>
    <p>I wait for the Lord, my soul doth wait:<br><strong>And in His Word do I hope.</strong></p>
    <p>My soul waiteth for the Lord more than they that watch for the morning:<br><strong>I say, more than they that watch for the morning.</strong></p>
    <p>Let Israel hope in the Lord:<br><strong>For with the Lord there is mercy, and with Him is plenteous redemption.</strong></p>
    <p>And He shall redeem Israel:<br><strong>From all his iniquities.</strong></p>
    <p>Glory be to the Father, and to the Son, and to the Holy Ghost:<br><strong>As it was in the beginning, is now, and ever shall be world without end. Amen.</strong></p>
    {{ endif }}

    {{ if order == "vespers" }}
    <p>Have mercy upon me, O God, according to Thy lovingkindness:<br><strong>According unto the multitude of Thy tender mercies blot out my transgressions.</strong></p>
    <p>Wash me thoroughly from mine iniquity:<br><strong>And cleanse me from my sin.</strong></p>
    <p>For I acknowledge my transgressions:<br><strong>And my sin is ever before me.</strong></p>
    <p>Against Thee, Thee only, have I sinned and done this evil in Thy sight:<br><strong>That Thou mightest be justified when Thou speakest, and be clear when Thou judgest.</strong></p>
    <p>Behold, I was shapen in iniquity:<br><strong>And in sin did my mother conceive me.</strong></p>
    <p>Behold, Thou desirest truth in the inward parts:<br><strong>And in the hidden part Thou shalt make me to know wisdom.</strong></p>
    <p>Purge me with hyssop, and I shall be clean:<br><strong>Wash me, and I shall be whiter than snow.</strong></p>
    <p>Make me to hear joy and gladness:<br><strong>That the bones which Thou hast broken may rejoice.</strong></p>
    <p>Hide Thy face from my sins:<br><strong>And blot out all mine iniquities.</strong></p>
    <p>Create in me a clean heart, O God:<br><strong>And renew a right spirit within me.</strong></p>
    <p>Cast me not away from Thy presence:<br><strong>And take not Thy Holy Spirit from me.</strong></p>
    <p>Restore unto me the joy of Thy salvation:<br><strong>And uphold me with Thy free Spirit.</strong></p>
    <p>Glory be to the Father, and to the Son, and to the Holy Ghost:<br><strong>As it was in the beginning, is now, and ever shall be world without end. Amen.</strong></p>
    {{ endif }}

    <p><em>Then shall be said:</em></p>
    <p>Turn us again, O God of hosts;<br><strong>Cause Thy face to shine and we shall be saved.</strong></p>
    <p>Arise, O Christ, for our help;<br><strong>And redeem us, for Thy mercy's sake.</strong></p>
    <p>Hear my prayer, O LORD;<br><strong>And let my cry come unto Thee.</strong></p>
    <p>The Lord be with you.<br><strong>And with thy spirit.</strong></p>
    <p>Let us pray.</p>

    <p><em>Then shall the Minister say a Collect for the Season and any other suitable Collects, and after that he may say this Collect for peace.</em></p>

    {{ if collect_of_day }}
    <h4>Collect for the Day</h4>
    <p>{{ collect_of_day }}</p>
    <p>℟: <strong>Amen.</strong></p>
    {{ endif }}

    {{ foreach additional_collects as collect }}
    <h5>{{ collect.theme }}</h5>
    <p>{{ collect.text }}</p>
    <p>℟: <strong>Amen.</strong></p>
    {{ endforeach }}

    <p>Give peace in our days, O Lord:<br><strong>Because there is none other that fighteth for us, except Thou, our God.</strong></p>
    <p>O Lord, let there be peace in Thy strength:<br><strong>And abundance in Thy towers.</strong></p>
    <p>Let us pray.<br><strong>O God, from whom all holy desires, all good counsels, and all just works do proceed: Give unto Thy servants that peace, which the world cannot give; that our hearts may be set to obey Thy commandments, and also that by Thee, we, being defended from the fear of our enemies, may pass our time in rest and quietness; through the merits of Jesus Christ our Savior. Amen.</strong></p>
</div>
