
<!-- templates/canticles/benedictus.html -->
<h4>Benedictus</h4>
<p>
1. Blessed be the Lord God of Israel;<br>
for He hath visited and redeemed His people,<br>
2. And hath raised up an horn of salvation for us<br>
in the house of His servant David;<br>
3. As He spake by the mouth of His holy prophets,<br>
which have been since the world began:<br>
4. That we should be saved from our enemies,<br>
and from the hand of all who hate us;<br>
5. To perform the mercy promised to our fathers,<br>
and to remember His holy covenant;<br>
6. The oath which He sware to our father Abraham,<br>
that He would grant unto us<br>
7. That we being delivered out of the hand of our enemies<br>
might serve Him without fear,<br>
8. In holiness and righteousness before Him,<br>
all the days of our life.<br>
9. And thou, child, shalt be called the prophet of the Highest;<br>
for thou shalt go before the face of the Lord to prepare His ways;<br>
10. To give knowledge of salvation unto His people<br>
by the remission of their sins,<br>
11. Through the tender mercy of our God,<br>
whereby the Dayspring from on high hath visited us,<br>
12. To give light to them that sit in darkness and in the shadow of death,<br>
to guide our feet into the way of peace.
</p>
<p>
Glory be to the Father and to the Son and to the Holy Ghost:<br>
As it was in the beginning, is now, and ever shall be, world without end. Amen.
</p>
