
<!-- templates/canticles/magnificat.html -->
<h4>Magnificat</h4>
{{ audio: matins-magnificat.mp3 }}
<p>
My soul doth magnify the Lord,<br>
and my spirit hath rejoiced in God, my Savior.<br>
For He hath regarded the low estate of His handmaiden:<br>
for, behold, from henceforth all generations shall call me blessed.<br>
For He that is mighty hath done to me great things,<br>
and holy is His name.<br>
And His mercy is on them that fear Him<br>
from generation to generation.<br>
He hath showed strength with His arm;<br>
He hath scattered the proud in the imagination of their hearts.<br>
He hath put down the mighty from their seats,<br>
and exalted them of low degree.<br>
He hath filled the hungry with good things,<br>
and the rich He hath sent empty away.<br>
He hath holpen His servant Israel,<br>
in remembrance of His mercy,<br>
as He spake to our fathers,<br>
to Abraham, and to his seed forever.
</p>
<p>
Glory be to the Father and to the Son and to the Holy Ghost:<br>
As it was in the beginning, is now, and ever shall be, world without end. Amen.
</p>
