<h3>The Nicene Creed</h3>
<p>I believe in one God, the Father Almighty, Maker of heaven and earth and of all things visible and invisible.</p>
<p>And in one Lord Jesus Christ, the only-begotten Son of God, begotten of His Father before all worlds, God of God,
    Light of Light, Very God of Very God, Begotten, not made, Being of one substance with the Father, By whom all things
    were made; Who for us men and for our salvation came down from heaven And was incarnate by the Holy Ghost of the
    Virgin Mary And was made man<em>*</em>; 
    
    And was crucified also for us under Pontius Pilate. He suffered and was buried; And
    the third day He rose again according to the Scriptures; And ascended into heaven, And sitteth on the right hand of
    the Father; And He shall come again with glory to judge both the quick and the dead; Whose kingdom shall have no
    end.</p>
<p>And I believe in the Holy Ghost, The Lord and Giver of life, Who proceedeth from the Father and the Son, Who with the
    Father and the Son together is worshiped and glorified, Who spake by the Prophets. And I believe on holy Christian
    and Apostolic Church. I acknowledge one Baptism for the remission of sins; and I look for the resurrection of the
    dead, (+)** and the life of the world to come. Amen.</p>
<p><em>* At the words, "And was made man" the Pastor shall bow or genuflect; A similar piety is to be encouraged within the Congregation.</em></p>
<p><em>** It is fitting for all the baptised to make the sign of the cross at the words, "and the life of the world to come. Amen."</em></p>