<h2>{{ day_info.display }}</h2>

<!-- Opening Hymn -->
{{ if opening_hymn }}
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">Opening Hymn</h3>
    <p><em>¶ A Hymn of Invocation of the Holy Ghost or another Hymn may be sung.</em></p>
    <div class="{{ section_body_class }}">
        {{ opening_hymn }}
    </div>
</div>
{{ endif }}

<!-- Versicles -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">The Versicles</h3>
    <div class="{{ section_body_class }}">
        {{ audio: matins-versicle.mp3 }}
        <p><em>¶ The Versicles with the Gloria Patri shall be sung or said, the Congregation standing until the end of the Venite. The Hallelujah shall be omitted in Advent and Lent.</em></p>
        
        <p>℣: O Lord, open Thou my lips.<br>
        ℟: <strong>And my mouth shall show forth Thy praise.</strong></p>
        
        <p>℣: Make haste, O God, to deliver me.<br>
        ℟: <strong>Make haste to help me, O Lord.</strong></p>
        
        <p><strong> Glory be to the Father and to the Son and to the Holy Ghost:<br>
        As it was in the beginning, is now, and ever shall be, world without end. Amen.<br>
        Alleluia.</strong>
        </p>
        
        {{ audio: matins-gloria-patri.mp3 }}
    </div>
</div>

<!-- Invitatory -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">The Invitatory</h3>
    <div class="{{ section_body_class }}">
        <p><em>¶ Then follows the Invitatory with the Venite. An Invitatory for the Day or Season may be substituted for the general Invitatory.</em></p>
        {{ audio: matins-invitatory.mp3 }}
        <p>℣: Oh, come, let us worship the Lord:<br>
        ℟: <strong>For He is our Maker.</strong></p>
    </div>
</div>

<!-- Venite -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">Venite Exultemus</h3>
    <div class="{{ section_body_class }}">
        {{ audio: matins-venite.mp3 }}
        <p>
        O come let us sing unto the Lord<br>
        Let us make a joyful noise to the Rock of our salvation.<br>
        Let us come before His presence with thanksgiving;<br>
        And make a joyful noise unto Him with psalms.
        </p>
        
        <p>
        For the Lord is a great God<br>
        And a great King above all gods.<br>
        In His hand are the deep places of the earth;<br>
        The strength of the hills is His also.
        </p>
        
        <p>
        The sea is His, and He made it;<br>
        And His hands formed the dry land.<br>
        O come, let us worship and bow down;<br>
        Let us kneel before the Lord our Maker.
        </p>
        
        <p>
        For He is our God And we are the people of His pasture<br>
        And the sheep of His hand.
        </p>
        
        <p>
        Glory be to the Father and to the Son<br>
        And to the Holy Ghost<br>
        As it was in the beginning, is now,<br>
        And ever shall be; world without end. Amen.
        </p>
    </div>
</div>

<!-- Invitatory -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">The Invitatory</h3>
    <div class="{{ section_body_class }}">
        <p><em>The Invitatory shall be repeated after the Venite and Gloria Patri.</em></p>
        {{ audio: matins-invitatory.mp3 }}
        <p>℣: Oh, come, let us worship the Lord:<br>
        ℟: <strong>For He is our Maker.</strong></p>
    </div>
</div>


<!-- Hymn -->
<div class="{{ section_class }}">
    <p><em>Then shall be sung</em></p>
    <h3 class="{{ section_title_class }}">The Hymn</h3>
    <div class="{{ section_body_class }}">
        {{ if chief_hymn }}
            {{ chief_hymn }}
        {{ endif }}
    </div>
</div>

<!-- Psalmody -->
<div class="{{ section_class }}">
    <p><em>¶ The Hymn being concluded, the Congregation shall rise for</em></p>
    <h3 class="{{ section_title_class }}">The Psalmody</h3>
    <div class="{{ section_body_class }}">
        {{ if replace_with_introit }}
            <h4>Introit</h4>
            <p>{{ introit }}</p>
        {{ else }}
            {{ if psalm }}
                <h4>{{ psalm }}</h4>
                {{ psalm_text }}
            {{ endif }}
        {{ endif }}
        
        <p><em>At the end of each Psalm the Gloria Patri shall be sung or said. An Antiphon may be used with each Psalm.</em></p>
    </div>
</div>

<!-- Lection -->
<div class="{{ section_class }}">
    <p><em>¶ The Congregation shall be seated, and then shall follow</em></p>
    <h3 class="{{ section_title_class }}">The Lection</h3>
    <div class="{{ section_body_class }}">
        {{ audio: matins-lection-response.mp3 }}
        <p><em>Then shall be read The Lection. After each Lesson may be sung or said:</em></p>
        <p>℣: But Thou, O Lord, have mercy upon us.<br>
        ℟: <strong>Thanks be to Thee, O Lord!</strong></p>
        {{ if ot }}
            <h4>{{ot}}</h4>
            <p>{{ ot_text }}</p>
        {{ endif }}


        {{ if epistle }}
            <h4>{{epistle}}</h4>
            <p>{{ epistle_text }}</p>
        {{ endif }}
        
        {{ if gospel }}
            <h4>{{gospel}}</h4>
            <p>{{ gospel_text }}</p>
        {{ endif }}
        
        
    </div>
</div>


<!-- Sermon -->
<div class="{{ section_class }}">
    <p><em>¶ Then may follow a brief catechetical instruction* on a portion of the Small Catechism or</em></p>
    <h3 class="{{ section_title_class }}">The Sermon</h3>
    <div class="{{ section_body_class }}">
        <p><em>¶ The Sermon being concluded, the Offerings may then be gathered.</em></p>
    </div>
</div>

<!-- Canticle -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">Canticle</h3>
    <div class="{{ section_body_class }}">
        <p><em>Then shall be sung or said The Canticle. The Te Deum Laudamus or the Benedictus may be used on Sundays. Other Canticles may be used on other days.</em></p>
        {{ canticle }}
    </div>
</div>

<!-- Prayers -->
{{ if prayers_override != "default" }}
    <div class="{{ section_class }}">
        <h3 class="{{ section_title_class }}">Prayers</h3>
        <div class="{{ section_body_class }}">
            {{ prayers_override }}
        </div>
    </div>
{{ else }}
    <!-- Kyrie -->
    <div class="{{ section_class }}">
        <h3 class="{{ section_title_class }}">Kyrie</h3>
        <div class="{{ section_body_class }}">
            {{ audio: matins-kyrie.mp3 }}
            <p><em>All shall sing or say The Kyrie.</em></p>
            <p>
            Lord, have mercy upon us.<br>
            Christ, have mercy upon us.<br>
            Lord, have mercy upon us.
            </p>
        </div>
    </div>

    <!-- Lord's Prayer -->
    <div class="{{ section_class }}">
        <h3 class="{{ section_title_class }}">Lord's Prayer</h3>
        <div class="{{ section_body_class }}">
            <p><em>Then all shall sing or say The Lord's Prayer.</em></p>
            <p>Our Father who art in heaven, hallowed be Thy name; Thy kingdom come; Thy will be done on earth as it is in heaven; give us this day our daily bread; and forgive us our trespasses as we forgive those who trespass against us; and lead us not into temptation; but deliver us from evil; for Thine is the kingdom and the power and the glory forever and ever. Amen.</p>
        </div>
    </div>

    <!-- Salutation -->
    <div class="{{ section_class }}">
        <h3 class="{{ section_title_class }}">Salutation</h3>
        <div class="{{ section_body_class }}">
            {{ audio: matins-salutation.mp3 }}
            <p><em>Then shall be sung or said The Salutation.</em></p>
            <p>
            ℣: The Lord be with you.<br>
            ℟: <strong>And with thy spirit.</strong><br>
            Let us pray.
            </p>
        </div>
    </div>

    <!-- Collect for the Day -->
    <div class="{{ section_class }}">
        <h3 class="{{ section_title_class }}">Collect for the Day</h3>
        <div class="{{ section_body_class }}">
            {{ audio: matins-collect-amen.mp3 }}
            <p><em>Then shall be sung or said the Collect for the Day. The Collect for the Sunday is used throughout the week following until Friday, but on Saturday the Collect for the following Sunday is used. Then may be sung or said any other Collects. A Versicle may be used with each Collect. After each Collect the Congregation shall sing or say: Amen.</em></p>
            
            {{ if collect_of_day }}
                <h4>Collect</h4>
                <p>{{ collect_of_day }}</p>
            {{ endif }}
        </div>
    </div>

    <!-- Collect for Grace -->
    <div class="{{ section_class }}">
        <h3 class="{{ section_title_class }}">Collect for Grace</h3>
        <div class="{{ section_body_class }}">
            <p><em>Then shall be sung or said The Collect for Grace.</em></p>
            <p>O Lord, our heavenly Father, almighty and everlasting God, who hast safely brought us to the beginning of this day, defend us in the same with Thy mighty power and grant that this day we fall into no sin, neither run into any kind of danger, but that all our doings, being ordered by Thy governance, may be righteous in Thy sight; through Jesus Christ, Thy Son, our Lord, who liveth and reigneth with Thee and the Holy Ghost, ever one God, world without end.</p>
            <p>℟: <strong>Amen.</strong></p>
        </div>
    </div>
{{ endif }}

<!-- Benedicamus -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">Benedicamus</h3>
    <div class="{{ section_body_class }}">
        {{ audio: matins-benedicamus.mp3 }}
        <p><em>Then may be sung or said The Benedicamus.</em></p>
        <p>
        ℣: Bless we the Lord.<br>
        ℟: <strong>Thanks be to God.</strong>
        </p>
    </div>
</div>

<!-- Closing Hymn or Benediction -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">Closing Hymn or Benediction</h3>
    <div class="{{ section_body_class }}">
        <p><em>The Service may end with the Benedicamus, or a Closing Hymn may be sung, after which may be said The Benediction.</em></p>
        
        {{ if closing_hymn }}
            {{ closing_hymn }}
        {{ endif }}
        
        {{ audio: matins-benediction.mp3 }}
        <p>
        ℣: The grace of the Lord ✠ Jesus Christ, and the love of God, and the communion of the Holy Ghost, be with you all.<br>
        ℟: <strong>Amen.</strong>
        </p>
    </div>
</div>

<!-- Silent Prayer -->
<div class="{{ section_class }}">
    <h3 class="{{ section_title_class }}">Silent Prayer</h3>
    <div class="{{ section_body_class }}">
        <p>At the close of the Service silent prayer should be offered.</p>
    </div>
</div>